
body{
  background-color: #e8e8e8;
}

.root { 
  background-color: #d8d8d8;
  padding: 20px;
  text-align: center;
}

.rootlink{
  margin-bottom: 20px;
  display: inline;
}

.rootlink a{
  color: white;
  /*border: 1px solid black;*/
  border-radius: 5px;
  padding: 8px;
  background-color: #0177b2;
  text-decoration: none;
  font: 1.2em "Times New Roman";
}

.rootlink a:hover{
  color: #d1d1d1;
  background-color: #006599;
  text-decoration: underline;
}
